
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

header, main, footer, nav, aside, section, div, article {
    display: block;
}

header{
    height: 85px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover, a.active:hover{
    color: #f55454;
}

a img{
    width: 40px;
    height: 40px;
}

.logo{
    width: 55px;
}

nav{
    width: 90%;
}

ul {
    list-style-type: none;
}

.active{
    color: #f5d654;
}

main{
    background-color:  #f2f2f2;
}

main h1{
    color:#f5d654;
    font-size: 3.75rem;

}

#wrapper{
    margin: auto;
    width: 90%;
}

.jaune{
    max-width: 420px;
    background-color: #f5d654;
    border-radius: 24px;
}

.bkgjaune{
    background-color: #f5d654;
    padding-bottom: 5%;
    padding-top: 5%;
}


footer{
    height: 100px;
    width: 100%;
    background-color: #333333;
}

/************ RECIPES ************/

.salade{
    width: 220px;
    height: 220px;
}

.col-md-4, .col-md-8{
    width: 50%;
}

.card-body{
    margin-top: 15%;
}

.rounded-start {
    border-bottom-left-radius: 24px!important;
    border-top-left-radius: 24px!important;
}

.card_recipe{
    gap: 40px;
}

.taille{
    width: 400px;
    height: auto;
}

.bkgwhite {
    background-color: white;
    width: 35%;
    height: 0%;
    margin-top: 10%;
    padding: 5%;
    margin-left: 15%;
    border-radius: 24px;
}

.saladetaille{
    width: 500px;
    height: auto;
}

.othertop{
    margin-top: 10%;
}

/************ INDEX ************/

.main_index{
    padding-bottom: 5%;
}

.imgmealy{
    width: 900px;
    height: 355px;
}

/* .imgbatsal{
    width: 500px;
    height: 700px;
} */

.grd{
    grid-template-columns:auto auto;
    margin-top: 5%;
    /* margin: auto; */
    width: 90%;
    margin-left: 10%;
    display: grid
}

.cl1{
    /* margin-top: 40%; */
    margin-right: 10%;
}

.cl1 p{
    font-size: 20px;
    line-height: 40px;
    text-size-adjust:100%;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .grd{
        display: block;
    }
}

.rnd{
    height: 100px;
    width: 100px;
    background-color: #f5d654;
    border-radius: 50%;
}

.rnd i{
    font-size: 50px;
}

.rnd img{
    width: 50px;
}

.blcbcg{
    background-color: white;
    width: 30vh;
    height: 30vh;
}

.gp{
    gap: 40px;
    padding-top: 2%;
    margin: 0 5%
}

.bkgjaune.index{
    display: grid;
    grid-template-columns:auto auto;

}


@media screen and (max-width: 1300px) {
    .bkgjaune.index{
        display: block;
        padding-left: 10%;
        margin: 0;
    }
}

/************ FORM ************/


.formmain{
    font-size: 0.5rem;
    padding: 5%;
}

.whterec{
    background-color: white;
    width: 60%;
    margin-left: 20%;
    /* padding-top: 5%; */
    /* padding-left: 5%; */
    padding-right: 5%;
    align-items: center;

}

#form-head{
    display: block;
    width: 300px;
    height: 300px;
}

form{
    margin: 8% 0;
    font-size: 0.75rem;
}

.whterec div{
    margin-left: 10%;
}

.button {
    background-color: #f5d654;
    border-radius: 10px;
    padding: 2%;
    margin-left: 30%;
    margin-bottom: 20px;
    font-size: 0.9rem;

}
.button:hover {
    background-color: green;
}
#successMessage {
    opacity: 0;
    font-size: 16px;
    color: green;
}

/************ A RECIPE ************/
#the-recipe h2 {
    color: #f5d654;
    padding: 20px;
    font-size: 30px;
}
#the-recipe h3 {
    color: white;
    padding: 10px;
}

#the-recipe img {
    width: 400px;
    height: auto;
    margin-left: 10%;
    border-radius: 10px;
}

#instructions {
    margin-left: 550px;
    margin-top: -420px;
    width: 450px;
    background-color: #f5d654;
    padding: 10px;
    margin-bottom: 30px;
}

.ingredients li {
    margin-left: 30px;
    line-height: 30px;
    width: 400px;
}

@media screen and (max-width: 1000px) {
    #instructions {
        margin-left: -1px;
        margin: 10px;
        padding-bottom: 10px;
    }
}

#the-recipe p {
    width: 400px;
    left: 709px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}


/************ LIST ************/

.bkgimg{
    background-image: url("../images/bakground.jpg");
    background-size: cover;
    width: 100%;
    height: 425px;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.listmain{
    padding: 5%;
}

.table-responsive{
    margin-top: 10%;
}

thead{
    background-color: #f5d654;
}